# Dependencies
/node_modules
/package-lock.json

# Environment variables
.env
.DS_Store

# Uploads and temporary files
/public/uploads
/uploads 
/temp
serviceAccountKey.json # আপনার ফাইলে এটি দেখা গেছে, এটিও গোপন রাখা উচিতproject.zip
local_backup.sql
android/android/
android/caches/
android/daemon/
android/native/
android/wrapper/
android/.idea/
.idea/
